Read Data From Different Sources

In [3]:
# by using some Inbuilt functions that are available in pandas
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"Title1": "Team Lead","Title2": "Sr. Developer"}]}'
# Data is in the form of Json
# I will convert it into String by using StringIO
df = pd.read_json(StringIO(Data))

In [5]:
# json Data can convert into DataFrame
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'Title1': 'Team Lead', 'Title2': 'Sr. Develop..."

In [7]:
# DataFrame can convert back into json
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"Title1":"Team Lead","Title2":"Sr. Developer"}}}'

In [9]:
# DataFrame can convert back into json based on records
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"Title1":"Team Lead","Title2":"Sr. Developer"}}}'

In [10]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"Title1":"Team Lead","Title2":"Sr. Developer"}}]'

In [12]:
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/fc/82/ace5a5676051e60355bd8fb945df7b1ba4f4fb8447f2010fb816bfd57724/lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   - -------------------------------------- 0.1/3.8 MB 1.7 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 7.1 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 9.0 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 9.0 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 9.0 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 9.0 MB/s eta 0:00:01
   --------------- ------------------------ 1.5/3.8 MB 4.3 MB/s eta 0:00:01
   ---------------------- ----------------- 2.2/3.8 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 7.6 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: C:\Program Files\Python312\python.exe -m pip install --upgrade pip

In [13]:
url = "https://www.fdic.gov/bank-failures/failed-bank-list"
df = pd.read_html(url)
df

[                               Bank Name               City          State  \
 0     The First National Bank of Lindsay            Lindsay       Oklahoma
 1  Republic First Bank dba Republic Bank       Philadelphia   Pennsylvania
 2                          Citizens Bank           Sac City           Iowa
 3               Heartland Tri-State Bank            Elkhart         Kansas
 4                    First Republic Bank      San Francisco     California
 5                         Signature Bank           New York       New York
 6                    Silicon Valley Bank        Santa Clara     California
 7                      Almena State Bank             Almena         Kansas
 8             First City Bank of Florida  Fort Walton Beach        Florida
 9                   The First State Bank      Barboursville  West Virginia

     Cert                 Aquiring Institution      Closing Date  \
 0   4134   First Bank & Trust Co., Duncan, OK  October 18, 2024
 1  27332    Fulton Bank, National Association    April 26, 2024
 2   8758            Iowa Trust & Savings Bank  November 3, 2023
 3  25851               Dream First Bank, N.A.     July 28, 2023
 4  59017            JPMorgan Chase Bank, N.A.       May 1, 2023
 5  57053                  Flagstar Bank, N.A.    March 12, 2023
 6  24735  First Citizens Bank & Trust Company    March 10, 2023
 7  15426                          Equity Bank  October 23, 2020
 8  16748            United Fidelity Bank, fsb  October 16, 2020
 9  14361                       MVB Bank, Inc.     April 3, 2020

    Fund  Sort ascending
 0                 10547
 1                 10546
 2                 10545
 3                 10544
 4                 10543
 5                 10540
 6                 10539
 7                 10538
 8                 10537
 9                 10536  ]

In [17]:
url = 'https://en.wikipedia.org/wiki/Mobile_country_code'
df = pd.read_html(url,match='country',header=0)
df[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [19]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/c0/da/977ded879c29cbd04de313843e76868e6e13408a94ed6b987245dc7c8506/openpyxl-3.1.5-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/c1/8b/5fe2cc11fee489817272089c4203e679c63b570a5aaeb18d852ae3cbba6a/et_xmlfile-2.0.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   --------- ------------------------------ 61.4/250.9 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: C:\Program Files\Python312\python.exe -m pip install --upgrade pip

In [22]:
df_excel = pd.read_excel("Daily Small Tasks.xlsx",sheet_name='DEC')

In [23]:
df_excel.to_pickle('df_excel')

In [24]:
pd.read_pickle('df_excel')

,DATE,DATA SCIENCE,SUNRISE,TO DO LIST,EYES,EXERCISE,Grammar,noFap /observe,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,2024-12-13,Done,Not Done,DONE,DONE,DONE,Not Done,Done,NaN,NaN,NaN,NaN,NaN,DATA SCIENTIST
1,2024-12-14,Done,Done,DONE,DONE,DONE,Done,Done,NaN,NaN,NaN,NaN,NaN,GENIUS
2,2024-12-15,Done,Not Done,DONE,DONE,Not Done,Not Done,Done,NaN,NaN,NaN,NaN,NaN,RICH
3,2024-12-16,Done,Done,DONE,DONE,DONE,Done,Done,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-17,Done,Done,DONE,DONE,Not Done,Not Done,Not Done,NaN,NaN,DISCIPLINE,NaN,NaN,NaN
5,2024-12-18,Done,Done,DONE,DONE,DONE,Not Done,Done,NaN,NaN,CONSISTENCY,NaN,NaN,NaN
6,2024-12-19,Done,Not Done,DONE,DONE,Not Done,Not Done,Done,NaN,NaN,HARDWORK,NaN,NaN,NaN
7,2024-12-20,Not Done,Done,Done,Done,Done,Done,Done,NaN,NaN,SELF CONFIDENCE,NaN,NaN,NaN
8,2024-12-21,Not Done,Not Done,Not Done,Not Done,Not Done,Not Done,Not Done,NaN,NaN,SACRIFICES,NaN,NaN,NaN
9,2024-12-22,Not Done,Not Done,Not Done,Not Done,Not Done,Not Done,Done,NaN,NaN,PATIENCE,NaN,NaN,NaN
10,2024-12-23,NaN,Not Done,NaN,Done,Done,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2024-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOCUS,NaN,NaN,NaN
12,2024-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AWAKE,NaN,NaN,NaN
13,2024-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaT,7,5,8,9,6,3,8,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# The Pickle file will be very handy when we are developing machine learning projects.